
<button mat-button (click)="openCrewAddDialog()" class="crew-add-button">
  +{{ 'CREW.ADD_CREW' | translate }}
</button>

<div class="crew-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Row Number Column -->
      <ng-container matColumnDef="rowNumber">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.ROW_NUMBER' | translate }} </th>
        <td mat-cell *matCellDef="let crew; let i = index"> <strong> {{ i + 1 }}</strong> </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.FIRST_NAME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.LAST_NAME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
      </ng-container>
  
      <!-- Nationality Column -->
      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.NATIONALITY' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.nationality }} </td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.TITLE' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.title }} </td>
      </ng-container>
  
      <!-- Days On Board Column -->
      <ng-container matColumnDef="daysOnBoard">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.DAYS_ON_BOARD' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
      </ng-container>
  
      <!-- Daily Rate Column -->
      <ng-container matColumnDef="dailyRate">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.DAILY_RATE' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate | currency: crew.currency }} </td>
      </ng-container>
  
      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.CURRENCY' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.currency }} </td>
      </ng-container>
  
      <!-- Total Income Column -->
      <ng-container matColumnDef="totalIncome">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.TOTAL_INCOME' | translate }} </th>
        <td mat-cell *matCellDef="let crew"> {{ crew.totalIncome | currency: crew.currency }} </td>
      </ng-container>

      <!-- Certificates Column -->
      <ng-container matColumnDef="certificates">
        <th mat-header-cell *matHeaderCellDef> {{ 'CREW.CERTIFICATES' | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <button mat-button (click)="openCertificatesDialog(crew)">
            {{ 'BUTTONS.VIEW' | translate }}
          </button>
        </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{"CREW.ACTIONS" | translate }} </th>
        <td mat-cell *matCellDef="let crew">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="'crew-card/' + crew.id">
              <mat-icon>visibility</mat-icon>
              <span>{{ 'BUTTONS.DETAIL' | translate }}</span>
            </a>
                        
            <button mat-menu-item (click)="openCrewEditDialog(crew)">
              <mat-icon>edit</mat-icon>
              <span> {{"BUTTONS.EDIT" | translate }} </span>
            </button>
            <button mat-menu-item (click)="deleteCrew(crew)">
              <mat-icon>delete</mat-icon>
              <span> {{"BUTTONS.DELETE" | translate }} </span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

      <!-- Total Income by Currency -->
      <div class="total-income-by-currency">
        <mat-card class="total-income-card">
          <mat-card-header>
            <mat-card-title>{{ 'CREW.TOTAL_INCOME_BY_CURRENCY' | translate }}</mat-card-title>
          </mat-card-header>
      
          <mat-divider></mat-divider>
      
          <mat-list>
            <mat-list-item *ngFor="let currency of getTotalIncomeKeys()">
              <span mat-line><strong>{{ currency }}: </strong></span>
              <span mat-line>{{ totalIncomeByCurrency[currency] | currency: currency }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
  </div>