.total-income-by-currency {
    margin-top: 20px;
    padding: 10px;
  }
  
  .total-income-card {
    margin: 20px 0;
  }
  
  mat-card-header {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  mat-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  mat-card-title{
    text-align: center;
  }

  .crew-add-button {
    float: right;
    margin: 10px 16px; 
  }

  .top-link-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .certificate-type-create-link {
    font-size: 16px;
  }
  